# Build artifacts
build/
bin/
cmake-build-*/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# IDE
.vscode/
.idea/
*.swp
*.swo
project_template.code-workspace

# OS / éditeur
**/.DS_Store
**/Thumbs.db
*Zone.Identifier

# Binaires
*.exe
*.out
MonProjetOpenGL

# Temporaires
*.tmp
*.log
*.pdf
